include _mixins
block footer

    footer#footer.footer

        .container

            .footer__inner

                .footer__logo
                    a(href="/")
                        +img('logo.svg')

                .footer__nav
                    ul
                        li
                            a(href="about.html") О компании
                        li
                            a(href="catalog.html") Продукция
                        li
                            a(href="scope.html") Сферы применения
                        li
                            a(href="colors.html") Каталог цветов
                        li
                            a(href="#") Технологам
                        li
                            a(href="#") Проектировщикам
                        li
                            a(href="contacts.html") Контакты

                .footer__address

                    .footer-label Адрес
                    p 119530, Москва, Очаковское шоссе, д. 34
                    p 620026, Екатеринбург, ул. Белинскогод. 83
                    p 394053, Воронеж, Московский проспект, д. 130

                .footer__contacts

                    .footer-label Телефон
                    a(href="tel:88003006837") 8 (800) 300-68-37

                    .footer-label E-mail
                    a(href="mailto:info@pentrimax.ru") info@pentrimax.ru

                    .btn.btn--white-stroke(data-src="#popup-request" data-fancybox) Обратный звонок
            
            .footer__cat
                ul.cat-list
                    li.cat-list__item
                        a.cat-list__link(href="#") Эпоксидный грунт
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Эпоксидный грунт для металла
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Эпоксидный грунт для бетона
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт эпоксидный цинковый
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт эпоксидный антикоррозионный
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт эпоксидный по ржавчине
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт эпоксидный быстросохнущий

                    li.cat-list__item
                        a.cat-list__link(href="#") Цинконаполненный грунт

                    li.cat-list__item
                        a.cat-list__link(href="#") Двухкомпонентный грунт	
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Двухкомпонентный грунт эпоксидный
                                a.subcat-list__link(href="#") Двухкомпонентный полиуретановый грунт
                                a.subcat-list__link(href="#") Двухкомпонентный грунт акриловый

                    li.cat-list__item
                        a.cat-list__link(href="#") Грунт эмаль
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт эмаль по металлу
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт эмаль цинконаполненная
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Эпоксидная грунт эмаль
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Двухкомпонентная грунт эмаль
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Однокомпонентная грунт эмаль
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт эмаль быстросохнущая

                    li.cat-list__item
                        a.cat-list__link(href="#") Эмаль двухкомпонентная
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Эмаль эпоксидная двухкомпонентная
                                a.subcat-list__link(href="#") Полиуретановая двухкомпонентная эмаль
                                a.subcat-list__link(href="#") Акриловая эмаль двухкомпонентная

                    li.cat-list__item
                        a.cat-list__link(href="#") Грунт однокомпонентный
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт однокомпонентный полиуретановый

                    li.cat-list__item
                        a.cat-list__link(href="#") Быстросохнущий грунт	
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт быстросохнущий по ржавчине
                                a.subcat-list__link(href="#") Быстросохнущий акриловый грунт

                    li.cat-list__item
                        a.cat-list__link(href="#") Краска для труб	
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Краска для труб отопления
                                a.subcat-list__link(href="#") Краска для труб без запаха
                                a.subcat-list__link(href="#") Краска для пластиковых труб
                                a.subcat-list__link(href="#") Краска для труб водоснабжения
                                a.subcat-list__link(href="#") Краска для газовых труб
                                a.subcat-list__link(href="#") Краска для профильной трубы
                                a.subcat-list__link(href="#") Краска для оцинкованных труб
                                a.subcat-list__link(href="#") Краска для ржавых труб
                                a.subcat-list__link(href="#") Краска для медных труб

                    li.cat-list__item
                        a.cat-list__link(href="#") Сварочный грунт

                    li.cat-list__item
                        a.cat-list__link(href="#") Краска по бетону
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Краска по бетону для пола
                                a.subcat-list__link(href="#") Краска по бетону для наружных работ
                                a.subcat-list__link(href="#") Эпоксидная краска для бетона
                                a.subcat-list__link(href="#") Краска для бетона в гараже
                                a.subcat-list__link(href="#") Акриловая краска по бетону
                                a.subcat-list__link(href="#") Износостойкая краска для бетона
                                a.subcat-list__link(href="#") Химстойкая краска по бетону
                                a.subcat-list__link(href="#") Краска по бетону для внутренних работ
                                a.subcat-list__link(href="#") Краска для бетона без запаха

                    li.cat-list__item
                        a.cat-list__link(href="#") Грунт по металлу
                        ul.subcat-list
                            li.subcat-list__item
                                a.subcat-list__link(href="#") Грунт по металлу цинконаполненный
                                a.subcat-list__link(href="#") Акриловый грунт по металлу
                                a.subcat-list__link(href="#") Корабельный грунт по металлу
                                a.subcat-list__link(href="#") Полиуретановый грунт для металла
                                a.subcat-list__link(href="#") Антикоррозионный грунт по металлу
                                a.subcat-list__link(href="#") Грунт для оцинкованного металла

            .footer__bottom

                .footer__copyright © Все права защищены 2023
                .footer__policy
                    a(href="/policy/") Политика конфиденциальности
                .footer__sitemap
                    a(href="/sitemap/") карта сайта
                .footer__devs
                    a(href="https://di-project.studio/") Разработка сайта
                    span Di-Project.Studio