include _mixins
block header

    header#header.header

        .container
            
            .header__inner

                .header__logo
                    a(href="/") 
                        +img('logo.svg')

                .header__nav
                    
                    nav.nav

                        ul.nav-list
                            li.nav__item.has-child
                                a.nav__item-link(href="about.html") О компании
                                .arrow-down
                                
                                ul.subnav
                                    li.subnav__item
                                        a.subnav__item-link(href="news.html") Новости
                                    
                                    li.subnav__item
                                        a.subnav__item-link(href="vacancy.html") Вакансии

                            li.nav__item
                                a.nav__item-link(href="catalog.html") Продукция
                            li.nav__item
                                a.nav__item-link(href="scope.html") Сферы применения
                            li.nav__item
                                a.nav__item-link(href="colors.html") Каталог цветов
                            li.nav__item
                                a.nav__item-link(href="education.html") учебный центр
                            li.nav__item
                                a.nav__item-link(href="#") Проектировщикам
                            li.nav__item
                                a.nav__item-link(href="contacts.html") Контакты

                .header__phone
                    a(href="tel:8(800)3006837") 8 (800) 300-68-37

                .header-menu
                    .burger
                        span
                        span
                        span