:root {
    --container: 16px;
  
    @include breakpoint(md) {
      --container: 30px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 var(--container);
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1560px;
    box-sizing: border-box;
}

.page {

  @include breakpoint(lg) {
    display: flex;
  }
}

.page-inner {

  @include breakpoint(lg) {
    padding-left: 80px;
    width: 100%;
  }

  @include breakpoint(xl) {
    padding-left: 7.5%;
    width: 92.5%;
  }

  @include breakpoint(hd) {
    padding-left: 140px;
    width: 100%;
  }
}