.colors-info {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-right: 30px;
    display: flex;
    font-size: 16px;
    font-weight: 500;

    @include breakpoint(lg) {
        margin-bottom: 60px;
        font-size: 18px;
    }

    @include breakpoint(xl) {
        margin-bottom: 80px;
        font-size: 20px;
    }
}

.colors-info::before {
    content: "";
    padding-right: 30px;
    border-left: 3px solid $red;
}