.section-hero {
    padding: 40px 0 30px;
    overflow: hidden;

    @include breakpoint(xl) {
        padding: 24px 0 40px;
    }
}

.section-hero::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, #4762A5 0%, rgba(58, 65, 91, 0.00) 100%);
    position: absolute;
    right: -130px;
    bottom: 75px;
    width: 458px;
    height: 125px;
    border-radius: 458px;

    @include breakpoint(md) {
        right: -610px;
        bottom: 10px;
        width: 1077px;
        height: 394px;
    }

    @include breakpoint(lg) {
        right: -380px;
    }

    @include breakpoint(xl) {
        right: -540px;
        bottom: -16px;
        width: 1773px;
        height: 484px;
    }
}

.hero__slide {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @include breakpoint(xl) {
        margin-bottom: 40px;
    }
}

.hero__slide-block {

    @include breakpoint(md) {
        width: calc(50% - 10px);
    }

    @include breakpoint(xl) {
        width: calc(50% - 15px);
    }
}

.hero__title {
    margin-bottom: 20px;
    text-align: center;

    @include breakpoint(md) {
        margin-bottom: 46px;
        text-align: unset;
    }
}

.hero__subtitle {
    margin-bottom: 20px;
    text-align: center;

    @include breakpoint(md) {
        margin-bottom: 46px;
        font-size: 18px;
        text-align: unset;
    }

    @include breakpoint(xl) {
        font-size: 20px;
    }
}

.hero__action {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(md) {
        align-items: flex-start;
    }

    @include breakpoint(lg) {
        flex-direction: row;
    }
}

.hero__action .btn {
    width: 284px;
    height: 50px;

    @include breakpoint(xl) {
        width: 238px;
    }
}

.hero__action .btn ~ .btn {
    
    @include breakpointMax(lg) {
        margin-top: 20px;
    }

    @include breakpoint(lg) {
        margin-left: 30px;
    }
}

.hero__image {

    @include breakpointMax(md) {
        margin-top: 30px;
    }

    @include breakpoint(md) {
        width: calc(50% - 10px);
    }

    @include breakpoint(xl) {
        width: calc(50% - 15px);
    }
}

.hero__image-main {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    
    @include breakpointMax(md) {
        max-width: 475px;
    }

    @include breakpoint(md) {
        padding-bottom: 80%;
    }
}

.hero__image-main img {
    width: 100%;

    @include breakpoint(md) {
        position: absolute;
        height: 100%;
        object-fit: cover;
    }
}

.hero .swiper-navigation {
    margin-top: 20px;
    display: flex;
    align-items: center;

    @include breakpoint(lg) {
        margin-top: 75px;
    }

    @include breakpoint(xl) {
        margin-top: 10px;
    }
}

.hero .swiper-navigation .slider-arrow {

    @include breakpoint(hd) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.hero .swiper-navigation .slider-arrow--prev {

    @include breakpoint(hd) {
        left: -52px;
    }
}

.hero .swiper-navigation .slider-arrow--next {

    @include breakpoint(hd) {
        right: -52px;
    }
}

.section-stuff {
    padding: 16px 0;
    background: $blue;

    @include breakpoint(md) {
        padding: 28px 0;
    }

    @include breakpoint(lg) {
        padding: 56px 0;
    }

    @include breakpoint(xl) {
        padding: 35px 0;
    }
}

.stuff {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }
}

.stuff__item {
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #38548A;
    transition: all .3s ease;

    @include breakpoint(md) {
        width: calc(100% / 3 - (40px / 3));
    }

    @include breakpoint(lg) {
        padding: 20px;
    }

    @include breakpoint(xl) {
        padding: 30px;
        width: calc(100% / 3 - 20px);
    }
}

.stuff__item ~ .stuff__item {

    @include breakpointMax(md) {
        margin-top: 10px;
    }
}

.stuff__item:hover {
    background: $blue-dark;
    border-color: $blue-dark;
}

.stuff__item-img {
    margin-right: 13px;
    width: 41px;
    height: 41px;

    @include breakpoint(md) {
        margin: 0;
        flex-shrink: 0;
        width: 48px;
        height: 48px;
    }

    @include breakpoint(lg) {
        width: 63px;
        height: 63px;
    }

    @include breakpoint(xl) {
        width: 100px;
        height: 100px;
    }
}

.stuff__item-img img {
    height: 100%;
    object-fit: contain;
}

.stuff__item-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 130%;

    @include breakpoint(md) {
        font-size: 12px;
    }

    @include breakpoint(lg) {
        font-size: 15px;
    }

    @include breakpoint(xl) {
        font-size: 16px;
    }
}

.section-features {
    padding: 40px 0 60px;
    isolation: isolate;

    @include breakpoint(lg) {
        padding: 60px 0;
    }

    @include breakpoint(xl) {
        padding: 80px 0;
    }
}

.section-features::before {
    content: "";
    background: url('../images/xxx-bg.png') no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 40px;
    right: 16px;
    display: block;
    width: 331px;
    height: 165px;
    z-index: -1;

    @include breakpoint(md) {
        width: 711px;
        height: 355px;
    }

    @include breakpoint(xl) {
        top: 80px;
        right: 175px;
    }
}

.section-features::after {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, #4762A5 0%, rgba(58, 65, 91, 0.00) 100%);
    position: absolute;
    right: 0;
    bottom: -100px;
    display: block;
    width: 100%;
    height: 205px;
    border-radius: 372px;
    z-index: -1;

    @include breakpoint(md) {
        height: 500px;
        bottom: -380px;
    }

    @include breakpoint(xl) {
        bottom: -180px;
    }
}

.section-features .section-title {
    margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(lg) {
        margin-bottom: 60px;
    }

    @include breakpoint(xl) {
        margin-bottom: 80px;
    }
}

.features {

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 30px;
    }

    @include breakpoint(xl) {
        column-gap: 32px;
        row-gap: 54px;
    }
}

.features__item {
    display: flex;
    align-items: center;

    @include breakpoint(md) {
        width: calc(50% - 10px);
    }

    @include breakpoint(xl) {
        width: calc(100% / 3 - (64px / 3));
    }
}

.features__item ~ .features__item {
    
    @include breakpointMax(md) {
        margin-top: 30px;
    }
}

.features__item-icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;

    @include breakpoint(xl) {
        width: 86px;
        height: 86px;
    }
}

.features__item-icon img {
    height: 100%;
    object-fit: contain;
}

.features__item-title {
    margin-left: 20px;
    font-size: 14px;

    @include breakpoint(lg) {
        font-size: 15px;
    }

    @include breakpoint(xl) {
        font-size: 16px;
    }
}

.section-company {
    padding: 70px 0 36px;
    background-color: $blue;
    isolation: isolate;

    @include breakpoint(md) {
        padding: 20px 0;
    }

    @include breakpoint(lg) {
        padding: 40px 0;
    }

    @include breakpoint(xl) {
        padding: 80px 0 100px;
    }
}

.section-company::before {
    content: "";
    background: url('../images/agriculturual-solis.jpg') no-repeat;
    background-size: cover;
    background-position: bottom;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.section-company .section-title {
    margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(xl) {
        margin-bottom: 60px;
    }
}

.company {
    @include breakpoint(md) {
        display: flex;
        column-gap: 20px;
    }
}

.company-block {

    @include breakpoint(md) {
        width: 50%;
    }
}

.company-block p {
    
    @include breakpoint(md) {
        font-size: 15px;
    }

    @include breakpoint(xl) {
        max-width: 610px;
        font-size: 16px;
    }
}

.company-block .btn {
    margin-top: 30px;
    width: 258px;
    height: 52px;

    @include breakpoint(md) {
        margin-top: 40px;
    }

    @include breakpoint(xl) {
        margin-top: 60px;
    }
}

.company__wrap {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 26px;

    @include breakpoint(md) {
        column-gap: 18px;
        row-gap: 40px;
    }

    @include breakpoint(xl) {
        row-gap: 75px;
        justify-content: space-between;
        max-width: 610px;
    }
}

.company__item {
    width: calc(50% - 5px);

    @include breakpoint(md) {
        width: calc(50% - 9px);
    }

    @include breakpoint(xl) {
        max-width: 225px;
    }
}

.company__item-number  {
    margin-bottom: 10px;
    display: flex;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;

    @include breakpoint(md) {
        font-size: 48px;
    }

    @include breakpoint(xl) {
        font-size: 60px;
    }
}

.company__item-number .spincrement {
    opacity: 0;
}

.company__item-text {

    @include breakpoint(md) {
        font-size: 16px;
    }
}

.section-scope {
    padding: 30px 0 70px;

    @include breakpoint(md) {
        padding: 40px 0 80px;
    }

    @include breakpoint(lg) {
        padding: 60px 0 100px;
    }

    @include breakpoint(xl) {
        padding: 80px 0 130px;
    }
}

.main-page .section-scope::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, #4762A5 0%, rgba(58, 65, 91, 0.00) 100%);
    position: absolute;
    right: -300px;
    bottom: -300px;
    width: 640px;
    height: 531px;
    border-radius: 640px;
    z-index: -1;

    @include breakpoint(lg) {
        bottom: 0;
    }

    @include breakpoint(hd) {
        top: 160px;
        right: -425px;
        bottom: unset;
        width: 954px;
        height: 752px;
    }
}

.section-scope .section-title {
    margin-bottom: 30px;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(lg) {
        margin-bottom: 60px;
    }
}

.scope {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;

    @include breakpoint(md) {
        column-gap: 20px;
    }

    @include breakpoint(xl) {
        column-gap: 30px;
        row-gap: 30px;
    }
}

.scope__item {
    width: calc(50% - 5px);

    @include breakpoint(md) {
        width: calc(100% / 3 - (40px / 3));
    }

    @include breakpoint(xl) {
        width: calc(100% / 3 - 20px);
    }
}

.scope__item-img {
    padding: 10px;
    border: 1px solid #38548A;

    @include breakpoint(xl) {
        padding: 14px;
    }
}

.scope__item-img div {
    padding-bottom: 73.05%;
    position: relative;
    overflow: hidden;

    @include breakpoint(md) {
        padding-bottom: 54.7%;
    }

    @include breakpoint(lg) {
        padding-bottom: 51.72%;
    }
}

.scope__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease-out;
}

.scope__item:hover .scope__item-img img {
    transform: scale(1.1);
}

.scope__item-title {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    hyphens: auto;

    @include breakpoint(md) {
        font-size: 14px;
        font-weight: 600;
    }
}

.scope__item-title::before {
    content: "";
    margin-right: 12px;
    background: url('../images/arrow-down.svg') no-repeat;
    background-size: contain;
    flex-shrink: 0;
    display: block;
    width: 21px;
    height: 21px;
}

.scope__item:hover .scope__item-title::before {
    filter: brightness(100);
}

.section-works {
    padding-bottom: 40px;
}

.main-page .section-works::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, #4762A5 0%, rgba(58, 65, 91, 0.00) 100%);
    position: absolute;
    top: 515px;
    left: -235px;
    width: 458px;
    height: 343px;
    border-radius: 640px;
    z-index: -1;

    @include breakpoint(md) {
        width: 624px;
        height: 344px;
        top: 300px;
        left: -300px;
    }

    @include breakpoint(hd) {
        top: 160px;
        left: -700px;
        width: 1434px;
        height: 792px;
    }
}

.main-page .section-works::after {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, #4762A5 0%, rgba(58, 65, 91, 0.00) 100%);
    position: absolute;
    right: -230px;
    bottom: 0;
    width: 458px;
    height: 343px;
    border-radius: 640px;
    z-index: -1;

    @include breakpoint(md) {
        right: -460px;
        bottom: 300px;
        width: 684px;
        height: 568px;
    }

    @include breakpoint(lg) {
        right: -370px;
        bottom: 340px;
    }

    @include breakpoint(hd) {
        right: -650px;
        bottom: 160px;
        width: 1362px;
        height: 1131px;
    }
}

.works-banner {
    padding: 30px;
    background: $blue;

    @include breakpoint(md) {
        padding: 30px 0;
    }
}

.works-banner__wrap {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 20px;
    }
}

.works-banner__item .section-title {
    
    @include breakpointMax(md) {
        margin-bottom: 12px;
        text-align: center;
    }
}

.works-banner__item p {

    @include breakpointMax(md) {
        margin-bottom: 12px;
        text-align: center;
    }

    @include breakpoint(md) {
        margin-top: 12px;
        font-size: 16px;
    }
}

.works-banner__logo {
    margin: 0 auto;
    width: 230px;
    height: 37px;

    @include breakpoint(md) {
        margin: 0;
    }
}

.works-block {
    margin-top: 40px;

    @include breakpoint(md) {
        position: relative;

        @include breakpointMax(hd) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }
}

.works-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(lg) {
        font-size: 28px;
    }
}

.works-block .swiper-navigation {
    display: flex;

    @include breakpointMax(md) {
        margin-bottom: 20px;
    }

    @include breakpoint(md) {
        
        @include breakpointMax(hd) {
            margin-bottom: 40px;
            margin-left: auto;
        }
    }
}

.works-block .swiper-navigation .slider-arrow  {

    @include breakpoint(hd) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.works-block .swiper-navigation .slider-arrow--prev {

    @include breakpoint(hd) {
        left: -82px;
    }
}

.works-block .swiper-navigation .slider-arrow--next {

    @include breakpoint(hd) {
        right: -82px;
    }
}

.works-block .swiper-navigation .slider-arrow ~ .slider-arrow {
    
    @include breakpointMax(hd) {
        margin-left: 16px;
    }
}

.works-block .swiper {

    @include breakpoint(md) {
        
        @include breakpointMax(hd) {
            width: 100%;
        }
    }
}

.works__item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    border: 1px solid #38548A;
    transition: background .3s ease-out;

    @include breakpoint(md) {
        padding: 20px;
    }
}

.works__item:hover {
    background: $blue;
}

.works__item-img {
    margin-bottom: 10px;
    padding-bottom: 121%;
    position: relative;

    @include breakpoint(md) {
        padding-bottom: 100%;
    }
}

.works__item-img img {
    padding: 0 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.works__item-title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;

    @include breakpoint(md) {
        font-size: 15px;
    }

    @include breakpoint(lg) {
        font-size: 16px;
    }
}

.works__item-text {
    margin-bottom: 10px;
    font-size: 14px;

    @include breakpoint(xl) {
        margin-bottom: 20px;
        font-size: 16px;
    }
}

.works__item-action {
    margin-top: auto;

    @include breakpoint(xl) {
        display: flex;
        column-gap: 20px;
    }
}

.works__item .btn {
    width: 100%;
    height: 40px;
}

.works__item .btn:hover {
    background: $blue-dark;
}

.works__item-action .btn:first-child {
    
    @include breakpointMax(xl) {
        margin-bottom: 12px;
    }
}

.section-filial {
    padding: 30px 0;
    background-color: $blue;
    position: relative;

    @include breakpoint(xl) {
        padding: 60px 0;
    }
}

.section-filial .container {

    @include breakpointMax(md) {
        padding: 0;
    }
}

.filial {

    @include breakpoint(md) {
        
        @include breakpointMax(xl) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    @include breakpoint(xl) {
        margin: 0 auto;
        max-width: 1560px;
    }
}

.section-filial  .section-title {
    padding: 0 16px;

    @include breakpoint(md) {
        padding: 0 30px;
        width: calc(100% / 12 * 4);
    }

    @include breakpoint(lg) {
        width: calc(100% / 12 * 5);
    }

    @include breakpoint(xl) {
        margin-bottom: 52px;
        max-width: 520px;
    }
}

.filial ul {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 90px;
    list-style: none;

    @include breakpointMax(md) {
        margin-top: 15px;
    }

    @include breakpoint(md) {
        padding: 0 30px;
        width: calc(100% / 12 * 7);
    }

    @include breakpoint(lg) {
        width: calc(100% / 12 * 6);
    }

    @include breakpoint(xl) {
        display: block;
        height: auto;
    }
}

.filial ul li {
    line-height: 200%;
    
    @include breakpoint(md) {
        font-size: 15px;
    }

    @include breakpoint(xl) {
        font-size: 16px;
    }
}

.map {
    margin: 20px 0;
    width: 100%;
    height: 460px;

    @include breakpoint(md) {
        margin: 30px auto;
    }

    @include breakpoint(lg) {
        height: 480px;
    }

    @include breakpoint(xl) {
        margin: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 1028px;
        height: 535px;
    }
}

.map .popover {
    padding: 10px;
    background-color: #0C7CC6;
    background-clip: padding-box;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    white-space: normal;
    border-radius: 3px;
    z-index: 100;
}

.map .popover .arrow,
.map .popover .arrow::after {
    position: absolute;
    display: block;
    width: 0px;
    height: 0px;
    border-color: transparent;
    border-style: solid;
}

.map .popover .arrow {
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #0C7CC6;
    border-width: 11px;
    border-bottom-width: 0px;
}

.popover .arrow::after {
    content: "";
    margin-left: -10px;
    bottom: 1px;
    border-top-color: rgb(255, 255, 255);
    border-width: 10px;
    border-bottom-width: 0px;
}

.map .baloon-content p {
    font-family: $mainFont;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
}

.map .baloon-content p ~ p {
    margin-top: 5px;
}

#map ymaps[class$="-copyright"] {
    display: none;
}

.filial__info {
    margin: 0 16px;
    padding: 30px;
    background: #38548a;
    display: flex;
    align-items: flex-start;

    @include breakpoint(md) {
        margin: 0 30px;
        align-items: center;
        max-width: 608px;
    }

    @include breakpoint(xl) {
        margin-top: 48px;
    }
}

.filial__info img {
    flex-shrink: 0;
    width: 33px;
}

.filial__info p {
    margin-left: 26px;
    padding-left: 26px;
    font-size: 16px;
    border-left: 1px solid rgba(255, 255, 255, 0.45);
}

.section-news {
    padding-top: 40px;

    @include breakpoint(lg) {
        padding-top: 60px;
    }

    @include breakpoint(xl) {
        padding-top: 80px;
    }
}

.news-head {

    @include breakpoint(md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.section-news .section-title {
    
    @include breakpointMax(md) {
        margin-bottom: 30px;
    }
}

.news-head .btn {
    width: 242px;
    height: 52px;
}

.news {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;

    @include breakpoint(md) {
        column-gap: 20px;
    }

    @include breakpoint(xl) {
        margin-top: 60px;
        column-gap: 30px;
    }
}

.news__item {
    width: calc(50% - 5px);

    @include breakpoint(md) {
        display: flex;
        width: calc(25% - 10px);
    }

    @include breakpoint(xl) {
        width: calc(25% - 15px);
    }
}

.news__item a {
    width: 100%;
}

.news__item-img {
    margin-bottom: 8px;
    height: 168px;

    @include breakpoint(lg) {
        margin-bottom: 10px;
    }

    @include breakpoint(xl) {
        height: 200px;
    }
}

.news__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.news__item-desc {
    padding: 10px;
    background: $blue;

    @include breakpoint(md) {
        height: calc(100% - 176px);
    }

    @include breakpoint(xl) {
        padding: 24px;
        height: calc(100% - 210px);
    }
}

.news__item-date {
    margin-bottom: 10px;
    font-size: 11px;
    line-height: 150%; 

    @include breakpoint(md) {
        font-size: 12px;
    }

    @include breakpoint(xl) {
        margin-bottom: 20px;
    }
}

.news__item-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 130%;
    @include textLimit(5);

    @include breakpoint(md) {
        font-size: 15px;
    }

    @include breakpoint(lg) {
        font-size: 16px;
    }
}

.news__item-text {
    margin-top: 10px;

    @include breakpoint(md) {
        font-size: 15px;
    }

    @include breakpoint(lg) {
        font-size: 16px;
    }

    @include breakpoint(xl) {
        margin-top: 20px;
    }
}

.main-page .news__item:first-child {
    width: 100%;

    @include breakpoint(md) {
        width: calc(50% - 20px);
    }

    @include breakpoint(xl) {
        width: calc(50% - 30px);
    }
}

.main-page .news__item:first-child a {
    display: flex;
    column-gap: 5px;
}

.main-page .news__item:first-child .news__item-img {
    margin-bottom: 0;
    flex: 1 1 50%;
    width: 50%;
    height: auto;
}

.main-page .news__item:first-child .news__item-desc {
    padding: 23px 10px;
    flex: 1 1 50%;
    width: 50%;

    @include breakpoint(md) {
        height: 100%;
    }

    @include breakpoint(xl) {
        padding: 24px;
    }
}

.main-page .news__item:first-child .news__item-title {
    font-size: 18px;

    @include breakpoint(lg) {
        font-size: 20px;
    }

    @include breakpoint(xl) {
        font-size: 22px;
    }
}

.section-partners {
    padding-bottom: 40px;

    @include breakpoint(lg) {
        padding-bottom: 60px;
    }

    @include breakpoint(xl) {
        padding-bottom: 85px;
    }
}

.partners-head {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(xl) {
        margin-bottom: 60px;
    }
}

.partners-head .swiper-navigation {
    display: flex;
    align-items: center;
}

.partners-head .slider-arrow {

    @include breakpoint(hd) {
        position: absolute;
        top: calc(50% + 20px);
    }
}

.partners-head .slider-arrow--prev {

    @include breakpoint(hd) {
        left: -52px;
    }
}

.partners-head .slider-arrow--next {

    @include breakpoint(hd) {
        right: -52px;
    }
}

.partners-head .slider-arrow ~ .slider-arrow {
    margin-left: 16px;
}

.partners__logo {
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border: 0.48px solid #38548A;

    @include breakpoint(md) {
        height: 50px;
    }

    @include breakpoint(xl) {
        padding: 20px;
        height: 90px;
    }
}

.partners__logo img {
    height: 100%;
}