.section-vacancy {
    padding: 40px 0;
}

.section-vacancy::before {
    content: "";
    background: radial-gradient(50% 50% at 50% 50%, #4762A5 0%, rgba(58, 65, 91, 0.00) 100%);
    position: absolute;
    top: 190px;
    left: -195px;
    width: 389px;
    height: 214px;
    border-radius: 389px;
    z-index: -1;

    @include breakpoint(md) {
        top: 120px;
    }

    @include breakpoint(lg) {
        top: 0;
        left: -605px;
        width: 944px;
        height: 521px;
        border-radius: 944px;
    }

    @include breakpoint(xl) {
        top: -60px;
        left: -650px;
        width: 1434px;
        height: 792px;
        border-radius: 1434px;
    }
}

.vacancy-wrap {

    @include breakpoint(md) {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.vacancy-aside {

    @include breakpoint(md) {
        width: calc(100% / 12 * 4 - 10px);
    }

    @include breakpoint(lg) {
        font-size: 16px;
    }

    @include breakpoint(xl) {
        width: calc(100% / 12 * 2 + 56px);
    }
}

.vacancy-aside__title a {
    color: #0C7CC6;
}

.vacancy-aside__phone {
    margin-top: 20px;

    @include breakpoint(md) {
        margin-top: 30px;
    }
}

.vacancy-aside__phone a {
    margin-top: 8px;
    font-weight: 600;
}

.vacancy-aside__link {
    margin-top: 20px;
    display: flex;
    align-items: center;

    @include breakpoint(md) {
        margin-top: 30px;
    }
}

.vacancy-aside__link img {
    margin-right: 10px;
    width: 36px;
    height: 36px;
}

.vacancy-aside__link a {
    text-decoration: underline;
}

.vacancy {
    
    @include breakpointMax(md) {
        margin-top: 40px;
    }

    @include breakpoint(md) {
        width: calc(100% / 12 * 8 - 10px);
    }

    @include breakpoint(xl) {
        width: calc(100% / 12 * 9 - 15px);
    }
}

.vacancy__item {
    padding: 20px;
    border: 1px solid #38548A;

    @include breakpoint(lg) {
        padding: 30px;
        display: grid;
    }
}

.vacancy__content {

    @include breakpoint(lg) {
        grid-column: 1 / 3;
    }

    @include breakpoint(xl) {
        grid-column: 1 / 4;
    }
}

.vacancy__content div {
    display: none;
}

.vacancy__content h3 {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;

    @include breakpoint(lg) {
        margin-bottom: 20px;
        font-size: 28px;
    }

    @include breakpoint(xl) {
        font-size: 30px;
    }
}

.vacancy__content h4 {
    margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;

    @include breakpoint(lg) {
        margin-bottom: 20px;
        font-size: 20px;
    }

    @include breakpoint(xl) {
        font-size: 22px;
    }
}

.vacancy__expand {
    margin-top: 16px;
    padding: 14px 30px;

    @include breakpoint(lg) {
        margin-top: 20px;
        grid-column: 1 / 2;
    }
}

.vacancy__expand::before {
    content: "";
    margin-right: 8px;
    background: url('../images/chevron-down.svg') no-repeat;
    width: 13px;
    height: 8px;
}

.vacancy__expand.active::before {
    transform: rotate(180deg);
}

.vacancy__reply {
    margin-top: 16px;
    display: none;
    width: 174px;
    height: 54px;

    @include breakpoint(lg) {
        margin-top: 20px;
        margin-left: 20px;
        grid-column: 2 / 3;
        
        @include breakpointMax(xl) {
            width: auto;
        }
    }

    @include breakpoint(xl) {
        margin-left: 30px;
    }
}

.vacancy__expand.active ~ .vacancy__reply {
    display: flex;
}