mixin breadcrumbs(title, ...items)

    .breadcrumbs

        .container

            .breadcrumbs-wrapper

                .breadcrumbs-item
                    a(href='/') Главная

                each item in items

                    if item == items[items.length - 1]
                        .breadcrumbs-item
                            span= item

                    else
                        .breadcrumbs-item
                            a(href="#")= item

    if bodyClass != 'main-page'
        .head-title
        
            .container

                h1.title= title
                
                if bodyClass != 'product-page' && bodyClass != 'catalog-page' && bodyClass != 'news-page' && bodyClass != 'news-page news-page-inner'
                    .btn.btn--white-stroke(onclick="history.back()") Назад

                if bodyClass == 'product-page'
                    a.btn.btn--white-stroke(href="catalog.html") Назад к списку

                if bodyClass == 'catalog-page'
                    a.btn.btn--white-stroke(href="/") На главную

                if bodyClass == 'news-page'
                    a.btn.btn--white-stroke(href="/") На главную

                if bodyClass == 'news-page news-page-inner'
                    a.btn.btn--white-stroke(href="news.html") К списку новостей