mixin breadcrumbs(title, ...items)

    .breadcrumbs

        .container

            .breadcrumbs-wrapper

                .breadcrumbs-item
                    a(href='/') Главная

                each item in items

                    if item == items[items.length - 1]
                        .breadcrumbs-item
                            span= item

                    else
                        .breadcrumbs-item
                            a(href="#")= item

    if bodyClass != 'main-page'
        .head-title
        
            .container

                h1.title= title
                
                if bodyClass != 'product-page'
                    .btn.btn--white-stroke(onclick="history.back()") Назад

                if bodyClass == 'product-page'
                    .btn.btn--white-stroke(onclick="history.back()") Назад к списку