block popups

    // ПОПАП "ОСТАВИТЬ ЗАЯВКУ"
    #popup-request.popup
        .popup-title Помочь с выбором?
        .popup-subtitle Заполните все поля и получите профессиональную консультацию

        .popup-form
            form
                input(type="text" name="request_name" placeholder="Представьтесь")
                input(type="tel" name="request_phone" placeholder="+7")
                input(type="email" name="request_email" placeholder="E-mail:")
                .agreement
                    .checkbox-style
                        input#agree_request(type="checkbox" checked name="agree_request" style="display:none")
                        label(for="agree_request")
                    p Даю согласие на <a href="#">обработку персональных данных</a>
                button.btn.btn--blue(type="submit") Отправить

    // ПОПАП "УЗНАТЬ ЦЕНУ"
    #popup-price-request.popup
        .popup-title Узнать цену
        .popup-subtitle Заполните поля и узнайте цену

        .popup-form
            form
                input(type="text" name="price-request_name" placeholder="Представьтесь")
                input(type="tel" name="price-request_phone" placeholder="+7")
                input(type="email" name="price-request_email" placeholder="E-mail:")
                .agreement
                    .checkbox-style
                        input#agree_price-request(type="checkbox" checked name="agree_price-request" style="display:none")
                        label(for="agree_price-request")
                    p Даю согласие на <a href="#">обработку персональных данных</a>
                button.btn.btn--blue(type="submit") Отправить

    // ПОПАП "ОТКЛИКНУТЬСЯ"
    #popup-reply.popup
        .popup-title Откликнуться
        .popup-subtitle на вакансию

        .popup-form
            form
                input(type="text" name="reply_name" placeholder="Представьтесь")
                input(type="tel" name="reply_phone" placeholder="+7")
                input(type="email" name="reply_email" placeholder="E-mail:")
                textarea(name="reply_text" placeholder="Кратко о себе:")
                .agreement
                    .checkbox-style
                        input#agree_reply(type="checkbox" checked name="agree_reply" style="display:none")
                        label(for="agree_reply")
                    p Даю согласие на <a href="#">обработку персональных данных</a>
                button.btn.btn--blue(type="submit") Отправить

    // ПОПАП "УСПЕШНО"
    #popup-success.popup.popup-success
        .popup-title Спасибо
        .popup-subtitle Ваша заявка принята, скоро мы свяжемся с вами
        .btn.btn--blue Вернуться на сайт

    // ПОПАП "ПОИСК"
    #popup-search.popup.popup-search
        form
            input#search(type="search", name="search", autocomplete="off", placeholder="Что ищем?")
            button.btn.btn--blue(type="submit") Искать