---
title: Страница | О компании
bodyClass: about-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('О компании', 'О компании')

    section.section-about

        .container

            .about

                .about__image
                    div
                        +img('about.jpg')

                .about__desc
                    p Компания PentriMAX специализируется на производстве и реализации промышленных, химически стойких, антикоррозионных покрытий.
                        br
                        br
                        |Остановите свой выбор на качественных антикоррозионных покрытиях ЛКМ с длительным сроком эксплуатации от Российского производителя бренда PentriMAX.
                        br
                        br
                        |Современное, автоматизированное производство полностью исключает человеческий фактор, что, несомненно, сказывается на стабильно высоком качестве выпускаемой продукции.
                    
                    .about__links
                        a(href="news.html").btn.btn--white-stroke Новости
                        a(href="vacancy.html").btn.btn--white-stroke Вакансии

    section.section-company

        .container

            .section-title PentriMAX сегодня - это компания с

            ul

                li высококлассными специалистами, разрабатывающими инновационные лакокрасочные покрытия

                li заводом, производящим эти материалы

                li сильным составом менеджеров и технологов внедрения, продающие линейку продуктов конечным потребителям

                li грамотной логистикой и складами на территории России

    section.section-history

        .container

            .section-title История компании

            .history-info
                p Основателем компании PentriMAX является Максим Николаевич Дмитренко. В далеком 2003 году, начиная развитие промышленных покрытий европейского производителя, он даже не подозревал, что в будущем создаст свой бренд.

            .history

                .history__image
                    div
                        +img('about-ceo.jpg')

                .history__info
                    p После очередного кризиса в стране, программа импортозамещения в России, послужила катализатором в цепи событий, благодаря которому родилась компания PentriMAX – специализированные защитные покрытия.
                        br
                        br
                        |В 2014 году из-за сложившейся сложной политической обстановки в мире против РФ были введены санкции, которые внесли весомые коррективы в работе европейских компаний. Российское Государство было вынуждено начать противодействовать давлению западных стран, что автоматически привело к необходимости развития внутренней экономики страны, инициируя программу импортозамещения. Это был жестокий удар для большинства иностранных компаний, не имеющих локализованного производства на территории РФ. Негативно влиял не только запрет на возможность поставки на многие предприятия страны, но и стремительно растущий курс валюты по отношению к рублю. Многие планы рухнули, потеряв свою актуальность или возможность выполнения, скорость развития продаж снизилась в несколько раз, учитывая экономический спад, произошедший в связи с этими факторами.
                        br
                        br
                        |Именно в тот трудный момент и пришло осознание того, что нужно создавать свое производство. Открылись новые горизонты развития бизнеса. Имея огромный опыт в сфере промышленных покрытий, учитывая все сильные и слабые стороны европейских лакокрасочных материалов, команда PentriMAX смогла разработать и запустить серийное производство линеек собственной торговой марки.
                        br
                        br
                        |Инвестируя в исследования и разработки, компания постоянно совершенствует свои продукты, расширяет ассортимент. Принимая во внимание инновации и растущие потребности клиентов, создаем высококачественные продукты, применяем адресный консультационный подход при продажи наших материалов, чем превосходим наших прямых конкурентов.

    section.section-advantages

        .container

            .section-title Преимущества компании

            .advantages

                .advantages__item
                    .advantages__item-icon
                        +img('wallet.svg')
                    .advantages__item-title Сокращаем расходы на проектирование
                        p Разработано специально для индустриальных объектов и работы с металлами

                .advantages__item
                    .advantages__item-icon
                        +img('tasks.svg')
                    .advantages__item-title Создаем условия для комплексного решения задач

                .advantages__item
                    .advantages__item-icon
                        +img('solutions.svg')
                    .advantages__item-title Обеспечиваем создание современных востребованных решений

    section.section-board

        .container

            .board

                .board-contact
                    .board-contact__title Остались вопросы?
                    .board-contact__text Свяжитесь с нами и мы всё Вам расскажем!
                    .board-contact__action
                        .btn.btn--white-stroke(data-src="#popup-request" data-fancybox) Задать вопрос
                        .btn.btn--red(data-src="#popup-price-request" data-fancybox) Заказать

                .board-image
                    +img('pentrimax-bus.jpg')

                .board-info
                    p Региональные представительства в Москве, Екатеринбурге, Воронеже
                    a(href="tel:+78003006837") +7 (800) 300-68-37
                    a(href="mailto:info@pentrimax.ru") info@pentrimax.ru