---
title: Страница | Каталог цветов по RAL
bodyClass: colors-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Каталог цветов по RAL', 'Каталог цветов')

    section.section-colors

        .container

            .colors-info
                p Цвета на экране монитора ЗНАЧИТЕЛЬНО отличаются от печатных оригиналов из-за особенностей цветопередачи. Данная таблица не может служить онлайн-каталогом и предоставлена только в ознакомительных целях. Для правильного обозначения цвета достаточно запомнить цифры каталога RAL.

            .colors

                .colors__item
                    .item
                        .item__color(style="background: #CBC493")
                        .item__title Желтые тона
                        .item__arrow
                    
                    .palette

                        .palette__wrap

                            .palette__item
                                div(style="background: #CBC493")
                                    .palette__item-name RAL 1000
                                    .palette__item-color Зелёно-бежевый

                            .palette__item
                                div(style="background: #D1BC8A")
                                    .palette__item-name RAL 1001
                                    .palette__item-color Бежевый

                            .palette__item
                                div(style="background: #D2B773")
                                    .palette__item-name RAL 1002
                                    .palette__item-color Песочно-жёлтый

                            .palette__item
                                div(style="background: #F7BA0A")
                                    .palette__item-name RAL 1003
                                    .palette__item-color Сигнальный жёлтый

                            .palette__item
                                div(style="background: #E3B007")
                                    .palette__item-name RAL 1004
                                    .palette__item-color Жёлто-золотой

                            .palette__item
                                div(style="background: #C89F05")
                                    .palette__item-name RAL 1005
                                    .palette__item-color Медово-жёлтый

                            .palette__item
                                div(style="background: #E1A101")
                                    .palette__item-name RAL 1006
                                    .palette__item-color Кукурузно-жёлтый

                            .palette__item
                                div(style="background: #E79D00")
                                    .palette__item-name RAL 1007
                                    .palette__item-color Нарциссово-жёлтый

                            .palette__item
                                div(style="background: #AF8A55")
                                    .palette__item-name RAL 1011
                                    .palette__item-color Коричнево-бежевый

                .colors__item
                    .item
                        .item__color(style="background: #FA842C")
                        .item__title Оранжевые тона
                        .item__arrow

                .colors__item
                    .item
                        .item__color(style="background: #A03472")
                        .item__title Красные тона
                        .item__arrow

                .colors__item
                    .item
                        .item__color(style="background: #2271B3")
                        .item__title Синие тона
                        .item__arrow

                .colors__item
                    .item
                        .item__color(style="background: #57A639")
                        .item__title Зеленые тона
                        .item__arrow

                .colors__item
                    .item
                        .item__color(style="background: #9DA1AA")
                        .item__title Серые тона
                        .item__arrow

                .colors__item
                    .item
                        .item__color(style="background: #6B4030")
                        .item__title Коричневые тона
                        .item__arrow

                .colors__item
                    .item
                        .item__color(style="background: #2F2F2F")
                        .item__title Черные и белые тона
                        .item__arrow

    section.section-board

        .container

            .board

                .board-contact
                    .board-contact__title Остались вопросы?
                    .board-contact__text Свяжитесь с нами и мы всё Вам расскажем!
                    .board-contact__action
                        .btn.btn--white-stroke(data-src="#popup-request" data-fancybox) Задать вопрос
                        .btn.btn--red(data-src="#popup-price-request" data-fancybox) Заказать

                .board-image
                    +img('pentrimax-bus.jpg')

                .board-info
                    p Региональные представительства в Москве, Екатеринбурге, Воронеже
                    a(href="tel:+78003006837") +7 (800) 300-68-37
                    a(href="mailto:info@pentrimax.ru") info@pentrimax.ru