---
title: Страница | Проектировщикам
bodyClass: designers-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Проектировщикам', 'Проектировщикам')

    section.section-designers

        .container

            .main-content
                
                .main-content__image
                    +img('designers-img.jpg')
                
                .main-content__desc
                    
                    .main-content-text <b>Для реализации АКЗ в проектах строительства металлоконструкций в различных отраслях, в том числе в тяжелых условиях коррозионной нагрузки, приглашаем к сотрудничеству проектные организации.</b>
                        br
                        br
                        |Мы уверены, что соединив Ваш опыт и знания c нашими возможностями можно получить отличный профессиональный результат, выраженный в конкретном успешном проекте и сделать процесс работы взаимовыгодным.

    section.section-features

        .container

            .section-title Сотрудничество с нами позволяет:

            .features

                .features__item
                    .features__item-icon
                        +img('project.svg')
                    .features__item-title Сократить расходы на проектирование. Оперативно разработаем решение под конкретную задачу

                .features__item
                    .features__item-icon
                        +img('local-seo.svg')
                    .features__item-title Создавать условия для комплексного решения задач

                .features__item
                    .features__item-icon
                        +img('right-decision.svg')
                    .features__item-title Обеспечивать создание современных востребованных решений

    section.section-content

        .container

            .content

                h2 Принципы работы

                P Мы строим сотрудничество с нашими партнерами на принципах взаимной выгоды, строгой конфиденциальности условий сотрудничества, индивидуального подхода и уважения к каждому. Мы стараемся сделать все, чтобы Вам, уважаемые коллеги проектировщики, было максимально просто и удобно работать с нами и нашей продукцией.

    section.section-feature

        .container

            .section-title Мы предоставляем проектным институтам, проектным организациям и специалистам-проектировщикам:

            .feature
                
                ul
                    li Выгодные условия сотрудничества
                    li Предоставление полной технической информации по продукции PentriMax
                    li Помощь в проектировании (проведении расчетов) и применении типовых/индивидуальных решений
                    li Консультирование по возможным схемам применения продукции
                    li Сотрудничество по реализации проекта
                    li Проведение обучающих семинаров. (Вы всегда можете заказать семинар, посещение Вашей организации для проведения презентации продукции)

    section.section-board

        .container

            .board

                .board-contact
                    .board-contact__title Остались вопросы?
                    .board-contact__text Свяжитесь с нами и мы всё Вам расскажем!
                    .board-contact__action
                        .btn.btn--white-stroke(data-src="#popup-request" data-fancybox) Задать вопрос
                        .btn.btn--red(data-src="#popup-price-request" data-fancybox) Заказать

                .board-image
                    +img('pentrimax-bus.jpg')

                .board-info
                    p Региональные представительства в Москве, Екатеринбурге, Воронеже
                    a(href="tel:+78003006837") +7 (800) 300-68-37
                    a(href="mailto:info@pentrimax.ru") info@pentrimax.ru