---
title: Страница | Главная
bodyClass: main-page
yandexMap: true
---

extends includes/_page

block main

    section.section-hero

        .container

            .hero

                .swiper

                    .swiper-wrapper

                        .hero__slide.swiper-slide
                            .hero__slide-block
                                h1.hero__title.title Краска для газовых труб
                                .hero__subtitle Cпециализированное покрытие разработанное для надежной защиты и долговременного сохранения функциональности металлических газопроводных систем.                                    
                                .hero__action
                                    a.btn.btn--white-stroke(href="product.html") Смотреть продукцию
                                    .btn.btn--red(data-src="#popup-request" data-fancybox) Помочь с выбором?
                            
                            .hero__image
                                .hero__image-main
                                    +img('img-bg.jpg')

                        .hero__slide.swiper-slide
                            .hero__slide-block
                                h2.hero__title.title Атмосферостойкие покрытия для сельскохозяйственной техники
                                .hero__subtitle Не тратьте время на поиски, позвоните по бесплатному номеру
                                .hero__action
                                    a.btn.btn--white-stroke(href="product.html") Смотреть продукцию
                                    .btn.btn--red(data-src="#popup-request" data-fancybox) Помочь с выбором?
                            
                            .hero__image
                                .hero__image-main
                                    +img('28978357_random3_2021_1273 1.png')

                        .hero__slide.swiper-slide
                            .hero__slide-block
                                h2.hero__title.title Атмосферостойкие покрытия для сельскохозяйственной техники
                                .hero__subtitle Не тратьте время на поиски, позвоните по бесплатному номеру
                                .hero__action
                                    a.btn.btn--white-stroke(href="product.html") Смотреть продукцию
                                    .btn.btn--red(data-src="#popup-request" data-fancybox) Помочь с выбором?
                            
                            .hero__image
                                .hero__image-main
                                    +img('28978357_random3_2021_1273 1.png')

                        .hero__slide.swiper-slide
                            .hero__slide-block
                                h2.hero__title.title Атмосферостойкие покрытия для сельскохозяйственной техники
                                .hero__subtitle Не тратьте время на поиски, позвоните по бесплатному номеру
                                .hero__action
                                    a.btn.btn--white-stroke(href="product.html") Смотреть продукцию
                                    .btn.btn--red(data-src="#popup-request" data-fancybox) Помочь с выбором?
                            
                            .hero__image
                                .hero__image-main
                                    +img('28978357_random3_2021_1273 1.png')

                .swiper-navigation
                    .slider-arrow.slider-arrow--prev
                        +img('arrow-left.svg')

                    .swiper-pagination

                    .slider-arrow.slider-arrow--next
                        +img('arrow-right.svg')

    section.section-stuff

        .container

            .stuff

                .stuff__item
                    .stuff__item-img
                        +img('img-1.png')
                    .stuff__item-title Антикоррозионные грунты
                    
                .stuff__item
                    .stuff__item-img
                        +img('img-2.png')
                    .stuff__item-title Специализированные эмали

                .stuff__item
                    .stuff__item-img
                        +img('img-3.png')
                    .stuff__item-title Антикоррозионные грунт-эмали

    section.section-features

        .container

            .section-title Преимущества компании

            .features

                .features__item
                    .features__item-icon
                        +img('f-1.svg')
                    .features__item-title Полностью автоматизированное производство в России

                .features__item
                    .features__item-icon
                        +img('f-2.svg')
                    .features__item-title Продуманное и сбалансированное ценообразование

                .features__item
                    .features__item-icon
                        +img('f-3.svg')
                    .features__item-title Результативная формула защиты от коррозии AlphaProtect

                .features__item
                    .features__item-icon
                        +img('f-4.svg')
                    .features__item-title Разработано специально для индустриальных объектов и работы с металлами
                
                .features__item
                    .features__item-icon
                        +img('f-5.svg')
                    .features__item-title Партнёрский подход к решению задач, профессиональные консультации и консалтинг

    section.section-company

        .container

            .company

                .company-block
                    .section-title О компании

                    p Компания PentriMAX ориентируется на жесткие условия эксплуатации и нанесения ЛКП с учетом природно-климатических условий для каждого региона России.
                        br
                        br
                        | При разработке своих материалов мы опирались не только на стандарты качества Европейских производителей, но и задавали свои, более высокие требования.
                        br
                        br
                        | Продукты PentriMAX производятся на основе сырьевых компонентов флагманов мировой химической индустрии.

                    a.btn.btn--white-stroke(href="#") Подробнее о компании

                .company-block
                    
                    .company__wrap

                        .company__item
                            .company__item-number
                                .spincrement 21
                            .company__item-text год на рынке промышленных покрытий

                        .company__item
                            .company__item-number
                                .spincrement 24
                            .company__item-text от 24 часов срок исполнения заказов

                        .company__item
                            .company__item-number
                                .spincrement 3 000
                                span +
                            .company__item-text реализованных проектов

                        .company__item
                            .company__item-number
                                .spincrement 25 000
                            .company__item-text тонн годовая производственная мощность

    section.section-scope

        .container

            .section-title Сферы применения

            .scope

                .scope__item
                    .scope__item-img
                        div
                            +img('image-1.jpg')
                    .scope__item-title Химстойкие покрытия для животноводческих ферм

                .scope__item
                    .scope__item-img
                        div
                            +img('image-2.jpg')
                    .scope__item-title Межоперационные сварочные грунты

                .scope__item
                    .scope__item-img
                        div
                            +img('image-3.jpg')
                    .scope__item-title Стальные строительные конструкции

                .scope__item
                    .scope__item-img
                        div
                            +img('image-4.jpg')
                    .scope__item-title Спецтехника

                .scope__item
                    .scope__item-img
                        div
                            +img('image-5.jpg')
                    .scope__item-title Мостовые покрытия

                .scope__item
                    .scope__item-img
                        div
                            +img('image-6.jpg')
                    .scope__item-title Сельскохозяйственная техника

                .scope__item
                    .scope__item-img
                        div
                            +img('image-7.jpg')
                    .scope__item-title Нефтегазовая отрасль

                .scope__item
                    .scope__item-img
                        div
                            +img('image-8.jpg')
                    .scope__item-title Резервуаростроение

                .scope__item
                    .scope__item-img
                        div
                            +img('image-9.jpg')
                    .scope__item-title Бетон и конструкции из бетона

    section.section-works
        
        .works-banner

            .container

                .works-banner__wrap

                    .works-banner__item
                        .section-title Наша продукция
                        p Профессиональные составы для защиты от&nbsp;коррозии

                    .works-banner__logo
                        +img('logo.svg')
        
        .container

            .works-block

                .works-title Антикоррозионные грунты

                .swiper-navigation
                    .slider-arrow.slider-arrow--prev
                        +img('arrow-left.svg')

                    .slider-arrow.slider-arrow--next
                        +img('arrow-right.svg')

                .swiper

                    .swiper-wrapper

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-1.png')
                            .works__item-title Грунт PENTRICOR EPE 100
                            .works__item-text Грунт быстросохнущий антикоррозионный антикоррозионный антикоррозионный однокомпонентный
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-1.png')
                            .works__item-title Грунт PENTRICOR EPE 100 Zn 80
                            .works__item-text Грунт быстросохнущий антикоррозионный однокомпонентный
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-1.png')
                            .works__item-title Грунт PENTRICOR EP 150
                            .works__item-text Грунт быстросохнущий антикоррозионный однокомпонентный
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-1.png')
                            .works__item-title Грунт PENTRICOR EP 300
                            .works__item-text Грунт быстросохнущий антикоррозионный однокомпонентный
                            .works__item-action 
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее
                    
                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-1.png')
                            .works__item-title Грунт PENTRICOR EPE 100
                            .works__item-text Грунт быстросохнущий антикоррозионный однокомпонентный
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее

            .works-block

                .works-title Специализированные эмали

                .swiper-navigation
                    .slider-arrow.slider-arrow--prev
                        +img('arrow-left.svg')

                    .slider-arrow.slider-arrow--next
                        +img('arrow-right.svg')

                .swiper

                    .swiper-wrapper

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-2.png')
                            .works__item-title Эмаль PENTRICOLOR PUR 500
                            .works__item-text Эмаль полиуретановая двухкомпонентная цветостойкая
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-2.png')
                            .works__item-title Эмаль PENTRICOLOR PUR 600
                            .works__item-text Эмаль полиуретановая двухкомпонентная высокоглянцевая
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее
                    
            .works-block

                .works-title Антикоррозионные грунт-эмали

                .swiper-navigation
                    .slider-arrow.slider-arrow--prev
                        +img('arrow-left.svg')

                    .slider-arrow.slider-arrow--next
                        +img('arrow-right.svg')

                .swiper

                    .swiper-wrapper

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-3.png')
                            .works__item-title Грунт-эмаль PENTRIPROTECT EPE 120
                            .works__item-text Грунт-эмаль антикоррозионная быстросохнущая однокомпонентная
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее

                        .works__item.swiper-slide
                            .works__item-img
                                +img('img-3.png')
                            .works__item-title Грунт-эмаль PENTRIPROTECT PUR 700
                            .works__item-text Грунт-эмаль антикоррозионная быстросохнущая однокомпонентная
                            .works__item-action
                                .btn.btn--white-stroke(data-src="#popup-price-request" data-fancybox) Узнать цену
                                .btn.btn--blue
                                    a(href="product.html") Подробнее

    section.section-filial

        .filial

            .section-title Филиалы и дилеры по России

            ul
                li Москва
                li Воронеж
                li Нижний Новгород
                li Татарстан
                li Екатеринбург
                li Кемерово
                li Уссурийск
                li Барнаул
                li Краснодар

            #map.map

            script.
                let points = [
                    {
                        name: 'Центральный офис',
                        coordinates: [55.755864, 37.617698],
                        phone: '8 (800) 300-68-37',
                        address: '119530, Москва, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Воронеж',
                        coordinates: [51.660781, 39.200296],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Воронеж, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Нижний Новгород',
                        coordinates: [56.326797, 44.006516],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Нижний Новгород, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Татарстан',
                        coordinates: [55.796129, 49.106414],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Татарстан, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Екатеринбург',
                        coordinates: [56.838011, 60.597474],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Екатеринбург, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Кемерово',
                        coordinates: [55.355198, 86.086847],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Кемерово, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Уссурийск',
                        coordinates: [43.797247, 131.952122],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Уссурийск, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Барнаул',
                        coordinates: [53.346785, 83.776856],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Барнаул, Очаковское шоссе, д. 34'
                    },

                    {
                        name: 'Офис Краснодар',
                        coordinates: [45.035470, 38.975313],
                        phone: '8 (800) 300-68-37',
                        address: '123456, Краснодар, Очаковское шоссе, д. 34'
                    }
                ];

            .filial__info
                +img('truck-container.svg')
                p Доставка по всей России транспортными компаниями: Деловые Линии, ПЭК, Vozovoz и другими.

    section.section-news

        .container
            
            .news-head
            
                .section-title Новости
                a.btn.btn--white-stroke(href="news.html") Смотреть все новости

            .news

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-1.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.
                            .news__item-text Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-2.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.
                
                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-3.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

    section.section-content

        .container

            .content

                h2 Заголовок текста для продвижения h2

                p Lörem ipsum år sverka. Ere multidev fonofaktisk dokul och pugisk. Dösk maneligen dodons sedan gigåhet kagt kode. Behösade decins: liksom disod, makrohör, miliga, vödosm, fredsring. Peheten spessa suplartad däs diskapet butoskapet. Lyrat drevkultur i honär, i hypoktigt, birande om jåtotesm om gal–tan–skala. 
                    br
                    br
                    |Psykologi vartad hexarade inte diktig, lolosan. Bede kakunera. Orade karav liksom prer sykarade pobugt, i beliga med nihedett. Nibejål syrar nyrade i presade, att krosade heterosamma beviliga. Shoppingspion posade sån fast egonat och on att eulanade derade. Äv spegågit inklusive nongar då klittra koll, irade. 
        
                h3 Заголовок текста для продвижения h3

                p Lörem ipsum år sverka. Ere multidev fonofaktisk dokul och pugisk. Dösk maneligen dodons sedan gigåhet kagt kode. Behösade decins: liksom disod, makrohör, miliga, vödosm, fredsring. Peheten spessa suplartad däs diskapet butoskapet. Lyrat drevkultur i honär, i hypoktigt, birande om jåtotesm om gal–tan–skala. 
                    br
                    br
                    |Psykologi vartad hexarade inte diktig, lolosan. Bede kakunera. Orade karav liksom prer sykarade pobugt, i beliga med nihedett. Nibejål syrar nyrade i presade, att krosade heterosamma beviliga. Shoppingspion posade sån fast egonat och on att eulanade derade. Äv spegågit inklusive nongar då klittra koll, irade. 

    section.section-partners

        .container
                
            .partners-head

                .section-title Партнеры

                .swiper-navigation
                    .slider-arrow.slider-arrow--prev
                        +img('arrow-left.svg')

                    .slider-arrow.slider-arrow--next
                        +img('arrow-right.svg')

            .partners

                .swiper

                    .swiper-wrapper
                        
                        .partners__item.swiper-slide
                            .partners__logo
                                +img('logo-omk.png')
                        
                        .partners__item.swiper-slide
                            .partners__logo
                                +img('logo-transneft.png')
                        
                        .partners__item.swiper-slide
                            .partners__logo
                                +img('logo-rosneft.png')
                        
                        .partners__item.swiper-slide
                            .partners__logo
                                +img('logo-eurochem.png')
                        
                        .partners__item.swiper-slide
                            .partners__logo
                                +img('logo-evraz.png')
                        
                        .partners__item.swiper-slide
                            .partners__logo
                                +img('logo-gazprom.png')

                        .partners__item.swiper-slide
                            .partners__logo
                                +img('logo-omk.png')