---
title: Страница | Новости
bodyClass: news-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Новости', 'О компании', 'Новости')

    section.section-news

        .container

            .news

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-1.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-2.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.
                
                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-3.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-2.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-1.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-2.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.
                
                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-3.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-2.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-1.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-2.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.
                
                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-3.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

                .news__item
                    a(href="news-inner.html") 
                        .news__item-img
                            +img('news-2.jpg')
                        .news__item-desc
                            .news__item-date 14 Дек, 23
                            .news__item-title(title="title") Lörem ipsum miktigt tidsfönster spende, och semijålogi. Del astrojågen vissade.

            .btn.btn--white-stroke Показать еще