---
title: Страница | Сферы применения
bodyClass: scope-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Сферы применения', 'Сферы применения')

    section.section-scope

        .container

            .scope

                .scope__item
                    .scope__item-img
                        div
                            +img('image-1.jpg')
                    .scope__item-title Химстойкие покрытия для животноводческих ферм

                .scope__item
                    .scope__item-img
                        div
                            +img('image-2.jpg')
                    .scope__item-title Межоперационные сварочные грунты

                .scope__item
                    .scope__item-img
                        div
                            +img('image-3.jpg')
                    .scope__item-title Стальные строительные конструкции

                .scope__item
                    .scope__item-img
                        div
                            +img('image-4.jpg')
                    .scope__item-title Спецтехника

                .scope__item
                    .scope__item-img
                        div
                            +img('image-5.jpg')
                    .scope__item-title Мостовые покрытия

                .scope__item
                    .scope__item-img
                        div
                            +img('image-6.jpg')
                    .scope__item-title Сельскохозяйственная техника

                .scope__item
                    .scope__item-img
                        div
                            +img('image-7.jpg')
                    .scope__item-title Нефтегазовая отрасль

                .scope__item
                    .scope__item-img
                        div
                            +img('image-8.jpg')
                    .scope__item-title Резервуаростроение

                .scope__item
                    .scope__item-img
                        div
                            +img('image-9.jpg')
                    .scope__item-title Бетон и конструкции из бетона