---
title: Страница | Учебный центр
bodyClass: technology-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Учебный центр', 'Учебный центр')

    section.section-technology-operation

        .container
            
            .operation
                h2 Принципы работы

                .operation__item
                    .item
                        .item__title Окраска холоднокатаного металла.
                        .item__arrow
                    
                    .palette
                        .operation__inner
                            +img('image-techno.jpg')
                            p Изделия из холоднокатаного металлического листа при окраске требуют особого подхода. Производство холоднокатаного листа, невозможно без смазывающих составов, которые при прокате, проникают в поверхностный слой металла и создают барьер для качественной адгезии (сцепления) лакокрасочного покрытия с металлом. К сожалению, пока покрытие окончательно не сформировалось, а это происходит минимум на 3 сутки, а недорогие алкидные материалы, как правило, формируют окончательную пленку на 7 сутки, нет возможности понять качество адгезии. Не досохший лакокрасочный материал, обладает высокой эластичностью и не откалывается при проверке адгезии методом решетчатого надреза. А при отсутствии адгезии, Вы получаете лакокрасочную пленку, которая при механическом воздействии будет отслаиваться кусками.
                                br
                                br
                                |Наши специалисты разработали состав смол в комплексе с функциональными добавками, обеспечивающий надежную адгезию на холоднокатаном металле со стандартной подготовкой обезжириванием.
                                br
                                br
                                |Фото пластин с проверенной адгезией после конечной полимеризации проведенных климатических испытаний. Примеры проверки адгезии: PentriProtect EPE 120

                .operation__item
                    .item
                        .item__title Окраска металла со степенью подготовки ST 2 (ISO 8504-1992).
                        .item__arrow

                    .palette
                        .operation__inner

                .operation__item
                    .item
                        .item__title Окраска сельхозтехники и навесного оборудования.
                        .item__arrow

                    .palette
                        .operation__inner

                .operation__item
                    .item
                        .item__title Окраска металлических конструкций. Межоперационное грунтование с возможностью последующей сварки.
                        .item__arrow
                    
                    .palette
                        .operation__inner

                .operation__item
                    .item
                        .item__title Окраска металлоконструкций в животноводческих сооружениях – коровники, здания для молодняка, телятники, свинарники, конюшни, овчарни, кошары и др.
                        .item__arrow
                    
                    .palette
                        .operation__inner

                .operation__item
                    .item
                        .item__title Долгосрочная защита металлоконструкций в условиях коррозионной активности С5I (M) ISO 12944-5.
                        .item__arrow
                    
                    .palette
                        .operation__inner

    section.section-technology-info

        .info-top
            h2 Справочная информация
            p Дефекты и вопросы по ЛКП

        .info

            .container
                
                .info__block
                    .info__title Почему у меня появились потёки и откуда они вообще берутся?
                    .info__content

                        p Потёки - это локальные неоднородности толщины лакокрасочного покрытия, которые образуются из-за стекания лакокрасочного материала во время нанесения и отверждения ЛКП на вертикальных и наклонных участках окрашиваемого изделия.
                            br
                            br
                            <b>Потёки могут быть вызваны:</b> 
                            br
                            br

                        ul
                            li Некачественной подготовкой поверхности.
                            li Завышенной или заниженной рабочей вязкостью лакокрасочного материала.
                            li Завышенным или заниженным давлением сжатого воздуха при пневмораспылении.
                            li Неотрегулированным размером окрасочного факела.
                            li Неправильным размещением краскораспылителя относительно плоскости окрашиваемой поверхности (краскораспылитель необходимо держать перпендикулярно относительно окрашиваемой поверхности).
                            li Маленькое расстояние между соплом краскораспылителя и окрашиваемой поверхностью.
                            li Слишком медленным перемещением краскораспылителя при окрашивании.
                            li Неправильным соотношением между вязкостью ЛКМ и давлением сжатого воздуха.
                            li Нанесением слишком толстого слоя ЛКМ на вертикальную поверхность.
                            li Высоким поверхностным натяжением на острых кромках окрашиваемого изделия.
                            li Недостаточными тиксотропными свойствами лакокрасочного материала.

                .info__block
                    .info__title А почему появляются пузыри? Откуда они?
                    .info__content

                        p Данный дефект проявляется в виде вздутия ЛКП на отдельных участках окрашенной поверхности из-за локальной потери адгезии лакокрасочным покрытием.
                            br
                            br
                            <b>Этот дефект может появиться по следующим причинам:</b> 
                            br
                            br

                        ul
                            li Некачественная подготовка поверхности или нанесение ЛКМ на влажную поверхность.
                            li Присутствие в лакокрасочном материале или сжатом воздухе частиц воды или минерального масла.
                            li Нанесение лакокрасочного материала на нагретую поверхность при прямом солнечном освещении.
                            li Попадание влаги на несформировавшееся лакокрасочное покрытие.
                            li В лакокрасочном материале присутствует большое количество пузырьков с воздухом.

                .info__block
                    .info__title Как толщина лакокрасочного покрытия влияет на долговечность покрытия?
                    .info__content

                        p Толщина лакокрасочных покрытий, обеспечивающих противокоррозионную защиту, должна быть достаточно большой. Толщина покрытия влияет на скорость проникновения агрессивных агентов к поверхности металла. Поэтому, для условий эксплуатации с различными параметрами агрессивности толщина покрытия устанавливается в соответствии со степенью агрессивности среды:
                            br
                            br
                            |Вместе с тем существует мнение, что не всегда наращивание толщины покрытия приводит к повышению его противокоррозионных свойств. При значительной толщине покрытия могут возникать внутренние напряжения, приводящие к расслаиванию. Толщина покрытий должна гарантировать отсутствие капиллярной проницаемости, т.е. быть несколько больше критической толщины покрытия. Для различных условий эксплуатации превышение толщины покрытия сверх критической колеблется в 1,5-5 раз. В идеальном случае этот коэффициент подбирается опытным путем.

    section.section-technology-info.reverse-color
            
        .info-top
            h2 Степени предварительной подготовки поверхности
            p Стандарт ISO определяет восемь степеней подготовки поверхности. В спецификациях часто употребляются следующие стандарты:

        .info
        
            .container
                
                .info__block
                    .info__title Название: St - Обработка вручную и электроинструментами.
                    .info__content
                        p Подготовка поверхности вручную и с помощью электроинструментов: скобление, зачистка проволочными щётками, механическими щётками и шлифовка – обозначается буквами "St". 
                            br
                            |Прежде, чем начать очистку вручную или электроинструментами, толстые слои ржавчины должны быть удалены способом обрубки. Видимые загрязнения от масла, жира и грязи тоже должны быть удалены. 
                            br
                            |После очистки вручную и электроинструментами, поверхность должна быть очищена от отслаивающейся краски и пыли.

                .info__block
                    .info__title Название: St2 - Тщательная очистка вручную и электроинструментами.
                    .info__content
                        p При поверхностном рассмотрении невооружённым взглядом, подложка должна выглядеть очищенной от видимых следов масла, жира и грязи и от плохо прилегающей окалины, ржавчины, краски и посторонних веществ.

                .info__block
                    .info__title Название: St3 - Очень тщательная очистка вручную и электроинструментами.
                    .info__content
                        p То же самое, что и для St2, но подложка должна быть очищена намного более тщательно, до появления металлического блеска.

                .info__block
                    .info__title Название: Sa - Пескоструйная очистка
                    .info__content
                        p Подготовка поверхности способом пескоструйной обработки обозначается буквами "Sa". Прежде, чем приступить к пескоструйной очистке, толстые слои ржавчины должны быть удалены методом обрубки. Видимые масляные, жировые загрязнения и грязь тоже должны быть устранены. 
                            br
                            br
                            |После пескоструйной обработки подложка должна быть очищена от пыли и мусора.                       

                .info__block
                    .info__title Название: Sa1 - Лёгкая дробеструйная очистка
                    .info__content
                        p При проверке невооружённым взглядом поверхность должна выглядеть зачищенной от видимых масляных, жировых пятен и грязи и от окалины с плохим прилеганием, ржавчины, краски и других посторонних веществ.

                .info__block
                    .info__title Название: Sa2 - Тщательная дробеструйная очистка
                    .info__content
                        p При проверке невооружённым взглядом поверхность должна выглядеть зачищенной от видимых масляных, жировых пятен и грязи и от большей части окалины, ржавчины, краски и других посторонних веществ. Каждое остаточное загрязнение должно иметь плотное прилегание.

                .info__block
                    .info__title Название: Sa2,5 - Очень тщательная дробеструйная очистка.
                    .info__content
                        p При проверке невооружённым взглядом поверхность должна выглядеть зачищенной от видимых масляных, жировых пятен и грязи и от большей части окалины, ржавчины, краски и других посторонних веществ. Все остаточные следы заражения должны проявляться только в форме едва заметных пятен и полос.

                .info__block
                    .info__title Название: Sa3 - Дробеструйная очистка до визуально чистой стали.
                    .info__content
                        p При проверке невооружённым взглядом поверхность должна выглядеть зачищенной от видимых масляных, жировых пятен и грязи и от большей части окалины, ржавчины, краски и других посторонних веществ. Поверхность должна иметь однородный металлический блеск.

    section.section-technology-order

        .container

            .order-title Как оформить заказ

            .order

                .order__item 
                    .order__item-wrap
                        .order__item-title СВЯЖИТЕСЬ С НАМИ
                        .order__item-info info@pentrimax.ru

                .order__item 
                    .order__item-wrap
                        .order__item-title КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА
                        .order__item-info Для выбора наиболее эффективного решения

                .order__item 
                    .order__item-wrap
                        .order__item-title ФОРМИРОВАНИЕ ЗАКАЗА
                        .order__item-info В течение 24 часов

                .order__item 
                    .order__item-wrap
                        .order__item-title ОТГРУЗКА И ДОСТАВКА
                        .order__item-info Подберем удобный для Вас вариант

    section.section-technology-docs

        .container  

            .docs-title Скачайте документы

            .docs
                a(href="#") Каталог продукции
                a(href="#") Карта партнёра
                a(href="#") Образец договора

    section.section-board

        .container

            .board

                .board-contact
                    .board-contact__title Остались вопросы?
                    .board-contact__text Свяжитесь с нами и мы всё Вам расскажем!
                    .board-contact__action
                        .btn.btn--white-stroke(data-src="#popup-request" data-fancybox) Задать вопрос
                        .btn.btn--red(data-src="#popup-price-request" data-fancybox) Заказать

                .board-image
                    +img('pentrimax-bus.jpg')

                .board-info
                    p Региональные представительства в Москве, Екатеринбурге, Воронеже
                    a(href="tel:+78003006837") +7 (800) 300-68-37
                    a(href="mailto:info@pentrimax.ru") info@pentrimax.ru