---
title: Страница | Вакансии
bodyClass: vacancy-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Вакансии', 'О компании', 'Вакансии')

    section.section-vacancy

        .container

            .vacancy-wrap

                .vacancy-aside

                    .vacancy-aside__title Для трудоустройства на работу отправьте резюме на адрес <a href="mailto:hr@pentrimax.ru">hr@pentrimax.ru</a>
                    
                    .vacancy-aside__phone
                        p Телефон отдела кадров:
                        a(href="tel:88003006837") 8 (800) 300-68-37

                    .vacancy-aside__link
                        +img('hh.ru.svg')
                        p Больше вакансий на <a href="https://hh.ru/">hh.ru</a>

                .vacancy

                    .vacancy__item

                        .vacancy__content
                            h3 Технолог ЛКМ по технической поддержке (жидкие ЛКМ)
                            h4 от 70 000 ₽ на руки
                            p Требуемый опыт работы: 3–6 лет<br>Полная занятость, полный день
                            
                            div
                                p Отечественный производитель жидких промышленных лакокрасочных материалов, в связи с расширением, ищет сотрудника с активной жизненной позицией и опытом работы технологом по нанесению ЛКМ
                                br
                                h4 Обязанности:
                                ul
                                    li работать с 1к и 2к материалами, многослойными системами;
                                    li участвовать в технологическом сопровождении внедрения ЛКМ на предприятиях клиентов (проведение тестовых выкрасов и опытных партий материалами компании);
                                    li выкрашивать показательных образцов (эталонов) для выставочных мероприятий;
                                    li осуществлять контроль качества готового покрытия;
                                    li уметь наносить нужную толщину покрытия;
                                    li владеть навыками ведение деловых переговоров, при необходимости;
                                    li обучать пользованию нашими материалами маляров на производстве;
                                    li уметь организовать работу маляра на закрепленном участке;
                                    li сопоставлять материалы конкурентов с материалами компании.
                                br
                                h4 Требования:
                                ul
                                    li опыт работы от 2 лет;
                                    li оптимистический взгляд на жизнь;
                                    li уверенность в себе;
                                    li самоорганизация;
                                    li умение расставлять приоритеты (планировать и оптимально организовать рабочий процесс);
                                    li желание работать;
                                    li ориентированность на результат;
                                    li обучаемость;
                                    li коммуникабельность;
                                    li ответственность;
                                    li умение решать конфликты;
                                    li умение убеждать;
                                    li стрессоустойчивость.
                                br
                                h4 Условия:
                                ul
                                    li 5-дневная рабочая неделя с 08:00 до 17:00;
                                    li официальное трудоустройство по ТК РФ (белая ЗП, оплачиваемый отпуск, соц пакет);
                                    li предоставляется спецодежда;
                                    li предусмотрены дополнительные премии + премия по итогам года
                                    li оплачиваемые командировки (командировки не менее 50% всего рабочего времени);
                                    li дружный коллектив;
                                    li ЗП (обсуждается по результатам собеседования);
                                    li территориальное нахождение: р-н Автовокзала

                        .vacancy__expand.btn.btn--white-stroke Подробнее
                        .vacancy__reply.btn.btn--red(data-src="#popup-reply" data-fancybox) Откликнуться

                    .vacancy__item

                        .vacancy__content
                            h3 Технолог ЛКМ по технической поддержке (жидкие ЛКМ)
                            h4 от 70 000 ₽ на руки
                            p Требуемый опыт работы: 3–6 лет<br>Полная занятость, полный день
                            
                        .vacancy__expand.btn.btn--white-stroke Подробнее
                        .vacancy__reply.btn.btn--red(data-src="#popup-reply" data-fancybox) Откликнуться

                    .vacancy__item

                        .vacancy__content
                            h3 Технолог ЛКМ по технической поддержке (жидкие ЛКМ)
                            h4 от 70 000 ₽ на руки
                            p Требуемый опыт работы: 3–6 лет<br>Полная занятость, полный день
                            
                        .vacancy__expand.btn.btn--white-stroke Подробнее
                        .vacancy__reply.btn.btn--red(data-src="#popup-reply" data-fancybox) Откликнуться

                    .vacancy__item

                        .vacancy__content
                            h3 Технолог ЛКМ по технической поддержке (жидкие ЛКМ)
                            h4 от 70 000 ₽ на руки
                            p Требуемый опыт работы: 3–6 лет<br>Полная занятость, полный день
                            
                        .vacancy__expand.btn.btn--white-stroke Подробнее
                        .vacancy__reply.btn.btn--red(data-src="#popup-reply" data-fancybox) Откликнуться

                    .vacancy__item

                        .vacancy__content
                            h3 Технолог ЛКМ по технической поддержке (жидкие ЛКМ)
                            h4 от 70 000 ₽ на руки
                            p Требуемый опыт работы: 3–6 лет<br>Полная занятость, полный день
                            
                        .vacancy__expand.btn.btn--white-stroke Подробнее
                        .vacancy__reply.btn.btn--red(data-src="#popup-reply" data-fancybox) Откликнуться

                    .vacancy__item

                        .vacancy__content
                            h3 Технолог ЛКМ по технической поддержке (жидкие ЛКМ)
                            h4 от 70 000 ₽ на руки
                            p Требуемый опыт работы: 3–6 лет<br>Полная занятость, полный день
                            
                        .vacancy__expand.btn.btn--white-stroke Подробнее
                        .vacancy__reply.btn.btn--red(data-src="#popup-reply" data-fancybox) Откликнуться
