---
title: Страница | Проверка подлинности
bodyClass: verification-page
---

extends includes/_page

block main

    include components/_breadcrumbs
    +breadcrumbs('Проверка подлинности', 'Проверка подлинности')

    section.section-brand

        .container

            .brand

                .brand__text
                    p Запатентованная торговая марка PentriMAX — это технологичные, высококачественные лакокрасочные материалы!
                        br
                        |Компания ООО «ПентриМакс» активно развивается и занимает лидирующие позиции на рынке ЛКМ. Наша продукция заслужила доверие, как у крупных потребителей, так и у небольших предприятий.
                        br
                        |Однако, успех привлекает не только клиентов, но и мошенников, которые ищут возможность получить незаслуженную выгоду. К сожалению, продукция PentriMAX не стала исключением – наши продукты заинтересовали мошенников, которые пытаются подделать и продать подделку нашей продукции.
                        br
                        |В этой связи нас больше волнует не упущенная выгода, а имя и доверие к нашей продукции и компании.

                .brand__image
                    +img('pentri.jpg')

    section.section-attention

        .container

            .section-title Просим Вас быть бдительными и не допустить обмана при покупке лакокрасочных материалов PentriMAX и проводить при покупке небольшой анализ:
            
            .attention

                .attention__item
                    .attention__item-number 1
                    .attention__item-text Удостоверьтесь, что вы приобретаете продукцию у официальных дилеров или на прямую от производителя. Избегайте сомнительных интернет-ресурсов и самодельных магазинчиков, которые могут предложить дешевую, но поддельную продукцию.

                .attention__item
                    .attention__item-number 2
                    .attention__item-text Обратите внимание на цену: низкая цена - сигнал о том, что это с высокой вероятностью подделка. Высокое качество имеет соразмерную цену.

                .attention__item
                    .attention__item-number 3
                    .attention__item-text Поддельная продукция может иметь отличия от фирменных этикеток – они могут быть выполнены в низком качестве/содержать опечатки и неточности.

            .note
                .note__title Важным отличием оригинальной продукции – наличие специальной наклейки* - защиты от подделок. При покупке товара обращайте внимание на состояние и целостность наклейки - она не должна быть надорвана, защитный слой не должен быть снят.
                .note__text Товары, подлежащие маркировке*: <br>Грунты, эмали, грунт-эмали в стандартной промышленной таре 18/20/25 кг.

    section.section-verification

        .container

            .verification-head

                .section-title Как проверить подлинность

                .checking

                    .checking-block
                    
                        .checking-item
                            span 91005  40012 71014

                        .checking-front
                            div
                                +img('shield-check.svg')
                                p Товар оригинальный

            .verification

                .verification__block

                    .verification__block-title
                        .verification__block-icon
                            +img('desktop-icon.svg')
                        p Онлайн проверка

                    .verification__step
                        .verification__step-number 1
                        .verification__step-text Найдите на этикетке полоску с защитным слоем, сотрите его и получите доступ к коду.

                    .verification__step
                        .verification__step-number 2
                        .verification__step-text Введите уникальный код в форму, которую Вы видите ниже и нажмите кнопку «Проверить код»

                    .verification__step
                        .verification__step-number 3
                        .verification__step-text Получите информацию о подлинности купленного продукта
                    
                    .verification__form
                        form#checker
                            .input-style
                                label(for="check-code-input")
                                    span Введите уникальный 15-ти значный код
                                input#check-code-input(type="text")
                            button(type="submit").btn.btn--red Проверить код
                    
                        p Внимание! Время проверки подлинности продукта может длиться до 1 минуты.

                .verification__block

                    .verification__block-title
                        .verification__block-icon
                            +img('message-sms.svg')
                        p Через СМС

                    .verification__step
                        .verification__step-number 1
                        .verification__step-text Найдите на этикетке полоску с защитным слоем, сотрите его и получите доступ к коду

                    .verification__step
                        .verification__step-number 2
                        .verification__step-text Отправить код с помощью бесплатного СМС на номер <b>3888</b>
                    
                    .verification__step
                        .verification__step-number 3
                        .verification__step-text В ответ получите СМС с информацией о подлинности купленного продукта

                    .notify В случае если отправленный код в системе не значится или проверялся ранее, Вы получите соответствующее уведомление и инструкцию о последующих действиях.
                        br
                        br
                        |При выявлении поддельной продукции возможна юридическая консультация по пресечению контрафакта и бесплатная замена на оригинальное масло.

                    p СМС-сервис бесплатный на территории России.
                        br
                        br
                        |Казахстан, Украина, Киргизия, Армения, Белоруссия — стоимость СМС согласно выбранному тарифу